<ng-container *ngIf="Cam">
  <ion-header>
    <ion-toolbar> 
      <ion-item class="CamTitle" style="color: black;"> {{getName(Cam)}} </ion-item>
      <!-- <ion-buttons slot="start">
        <ion-menu-button menu="main-menu">  </ion-menu-button>
      </ion-buttons>  -->
      
    </ion-toolbar>    
  </ion-header>

  
  <ion-content class="has-header">
    <ion-item class="ion-padding-start"> <div class="myOverlay">
      <div class="PageEnCours"> 
      <p class="card-title"> Caméra</p>
      </div>
      <div class="PageClick">
      <p class="buttonclass" (click)="clipvideo(Cam.Id)" class="card-title"> Clip Vidéos</p>
    </div>
    </div></ion-item>
     <ion-card *ngIf="Cam"  class="myCard" >

        
         <img [src]="getSafeUrl(Cam.Emplacement)">
         <div class="LIVE">
          <p class="LIVETEXT"> 🔴 LIVE</p>
        </div>
     
     </ion-card>
     </ion-content>
      
      <!-- <ion-card class="myCard">
        <button (click)="prev()">&#8249;</button>

        <img [src]="getSafeUrl(ListCameras[compteur].Emplacement)" />
        
        <button (click)="next()">&#8250;</button> 
        
        <div class="myOverlay">
           <div class="card-title">Clips vidéos</div>
        </div>
      </ion-card> -->
      <!-- <img src="../../../assets/img/Faucon.jpg" style="height: 100%; width: 100%;" (click)="presentModal()">  -->
      
    <!-- </div> -->
<!-- </div> -->
</ng-container>