
@import url('https://fonts.googleapis.com/css2?family=BenchNine&display=swap');
*{
    font-family: 'Open Sans',-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
}
.title1{
    width: 100%;
    height: 5%;
    top:0%;
    margin-bottom:2%;
    font-style: normal;
    font-weight: bold;
    font-size: 100%;
    line-height: 27px;
    text-align: center;
    text-transform: uppercase;
    /* foncé */
    color: #185A74;
    background-color: white;
}
.title2{
    width: 100%;
    height: 5%;
    top:10%;
    // margin-bottom:2%;
    font-style: normal;
    font-weight: bold;
    font-size: 100%;
    line-height: 27px;
    text-align: center;
    text-transform: uppercase;
    /* foncé */
    color: #185A74;
    background-color: white;
}

.boucle{
    /* Group 179 */
    // border: 1px solid red;
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    height: auto;
    // top:29%;
    // margin-top:19%;
    // margin-bottom: 5%;
    // border:1px solid red;
    padding-right:6vw;
    padding-left:6vw;
    // position: absolute;
}
.divImage{
    width: 42vw;
    height: 15vh;
    // border:1px solid red;
    margin-top: 5%;
    display:flex;
    flex-direction: column;
    justify-content: space-around;
}
.ImageImage{
    width: 100%;
    height: 100%;
}
.divBackgroundTransbox{
    background-color: rgba(0, 0, 0, 0.6);
    height: 45px;
    width: 100%;
    display:flex;
    flex-direction: column;
    justify-content: center;
    margin-top: -35%;
}
.ImageName{
    font-weight: normal;
    color: white;
    text-align: center;
    font-weight: 500;
    font-style: normal;
    font-size: 16px;
    line-height: 21,79px;
    opacity: 1;
}
//////////////////////////////////////////////ICON//////////////////////////////////////////////////
.trash{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    margin-top: 2%;
}
.trashIcon{
    width: 20%;
    height: 100%;
    border: 1px solid blue($color: #000000);
    // background: no-repeat right 100% url("../../../../../assets/icon/path/trash.svg");
    background: rgba(255, 255, 255, 1);
}
.trashIcon img{
    width: 100%;
}
//////////////////////////////////////TITRE//////////////////////////////////////////////////////

.general {
    padding-bottom : 18%; 
}
.title_bibliotheque{
    position: relative;
    height: 13%;
    background-color: white;
    // border:solid 1px red;
    width: 100%;
    text-align: center;
    background-color:white;
    height: 10%;
    font-size: 34px;
    font-family: 'benchNine';
    font-style: normal;
 }

