.img-furfooz{
    display: flex;
    justify-content: center;
}

.active {
    color: rgb(148, 195, 60);
    font-weight: bold;
}

// ::ng-deep{
//     .background {
//         background: url('../assets/img/BackgroundEponge.jpeg');
//         height: 100%;
//         background-size: cover;
//         background-repeat: no-repeat;
//         background-position: center;
//         overflow: scroll;
//     }
    .whitetext {
        width: calc(100% - 40px);
        margin: 5px 20px 0 20px;
        padding: 10px;
        background-color: rgba(255,255,255,0.85);
        border-radius: 5px;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    }









////////////////////////////////////////FOOTER////////////////////
#footer{
    bottom:0;
    position: fixed;
    width: 100%;
    background-color: #424242;
    height: 8%;
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
    justify-content: space-around; 
    // margin-bottom:10%;
    // margin-top: 5%;
    padding-right: 5vw;
    padding-left:5vw;  
}
.divButton{
    display:flex;
    flex-direction: column;
    cursor: pointer;
}
    // .divButton img{
    //     height: 35px;
    // }

.divButton_bonhomme{
    height: 35px;
}
.divButton_camera{
    height: 25px;
}
.divButton_fleurMenu{
    height: 35px;
}
.divButton_bibliotheque{
    height: 35px;
}

.divButton_setting{
    height: 35px;
}
    
ion-router-outlet{
    padding-bottom: 20%;
}
.main{
    padding-bottom: 8%;
    position: relative;
    height: 92%;
}
