*{
    list-style-type: none;
}

ion-item{
    --inner-padding-end: 0px;
    --padding-start:0px
  }


.clipPosition{
    height: 90%;
    width: 100%;
   
}


iframe{
  height: 100%;
  width: 100%;
}

// .placeholder {
//     width: 100%;
//     height: auto;
// }

// .video {
//     width: 100%;
//     border: 1px solid black;
// }
// // .wrapper{
// //     display:table;
// //     width:auto;
// //     position:relative;
// //     width:50%;
// // }


.iframecontainer{
    flex-grow: 1;
    height: 100%;
    width: 100%;
    // display: grid;
    // grid-template-columns: 30px auto 30px;
    // grid-template-rows: auto;
}

.playpause {
    height:50%;
    margin:auto;

    background-image:url(../../../assets/img/next.png);
    background-repeat:no-repeat;
    background-size:contain;
    background-position: center;   
    background-color: rgba(255, 255, 255, 0.8);
    
    border-radius: 3px;
}

.playpauseright {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
    font-size: 10rem;
    grid-column: 3;
    grid-row: 1;
}
.playpauseleft {
    -webkit-transform: scaleX(-1);
     transform: scaleX(-1);
    font-size: 10rem;
     grid-column: 1;
     grid-row: 1;
}

// #lecteurvideo {
//     grid-column: 1/4;
//     grid-row: 1;
// }


  
.myOverlay{
    width: 100%;
    height: 40px;
    position: absolute;
    z-index: 50;
    bottom: 0px;
    opacity: 1;
    text-align: center;
   
    padding: 0px;
    font-weight: bold;
    display: flex;
    margin: 0;
    padding: 0;
    justify-content: space-evenly;
    align-items: center;
   
}



.ion-padding-start{
  padding: 0px
}

.PageClick{
  width:100%;
  border-left: solid 1px white;
  color:black;
  
  
}


.PageEnCours{
  width: 100%;
  background-color:green;
  color: white;
}

.containerNom{
    border: 1px black;
    height: 10%;
    z-index: 1;
    display: flex;
}

.NomVideo{
    display: flex;
    align-items: center;
}



@media screen and (max-width: 576px){
    .clipPosition{
        flex-direction: column;

    }
    .slider{
        flex-direction: row;
        height: 50%;
        width: 100%;
    }
    .placeholder{
        height: 100px;
        width: auto;
    }
}