
  <ion-header>
    <ion-toolbar> 
      <ion-title> {{ 'clip-video' | translate }} </ion-title>
      <!-- <ion-buttons slot="start">
        <ion-menu-button menu="main-menu">  </ion-menu-button>
      </ion-buttons>  -->
    </ion-toolbar>
  </ion-header>

  <ion-item class="ion-padding-start"> <div class="myOverlay">
    <div class="PageClick">
      <p class="buttonclass" (click)="Camera(id)" class="card-title"> Cameras</p>
    </div>
    <div class="PageEnCours"> 
    <p class="card-title"> Clip Vidéos </p>
    </div>
   
  </div></ion-item>


<ion-content [scrollEvents]="true" >
  <div class="clipPosition">
    <div class="iframecontainer" *ngIf="ListClipsVideo?.length">
     
      <iframe id="lecteurvideo" [src]="getSafeUrl(ListClipsVideo[compteur].Lien)">
        </iframe>  
     
      <!-- <video controls src="../../../assets/videos/fabriquer-un-nichoir-semi-ouvert-fabriquer-des-abris-pour-animaux (2).mp4"></video> - -->
        
        
    <!-- </div>
    <div class="slider">
      <div *ngFor="let item of ListClipsVideo let i=index">
        <ul id="slide">
          <li><img class="placeholder" (click)="compteur = i" src="{{item.LienImg}}"> <img></li>
        </ul>
      </div>
    </div> -->

    <div class="containerNom">
      
      
          <button class="playpause playpauseleft" (click)="prev()">&#8249;</button>
          <p class="NomVideo" > {{getName(ListClipsVideo[compteur])}}  </p>
          <button class="playpause playpauseright" (click)="next()">&#8250;</button> 
    </div>
    
  </div>
  