:focus {
    outline: none;
    }

header{
    background-color:white;
    display: flex;
    justify-content: end; 
    align-items: center;
    margin-top: 2%;
    margin-bottom: 1%;
    width: 100%;
}
.FermerLeDetail{
    background-color: rgba(255, 255, 255, 0);    
    height: 5%;
    margin-right: 2%;
    /* margin-top: 1%; */
    font-size: 120%;
    position: absolute;
    right: 0%;
    width: 10%;
}
.FermerLeDetail img{
    height: 85%;
}
#title{
    width: 75%; 
    font-family:"benchNine";
    font-style: bold;
    text-align: center;
    padding-left: 3%; 
    color: black;
    font-size: 30px;
    letter-spacing: 0.02em;
    /* border: 1px solid red;    */
    margin:auto;
    /* padding-right: 10%; */
    /* margin-left: 3%;
    margin-right: 1%;  */
    position: relative;
}
/* .Croix{
    background-color: rgba(255, 255, 255, 0);    
    height: 5%;
    margin-right: 1%;
    position: absolute;
    right: 0%;
    width: 12%;
} */
#Name{
    width: 75%; 
    font-family:"BenChnine";
    font-weight: 700;
    text-align: center;
    padding-left: 3%; 
    color: black;
    font-size: 30px;
    letter-spacing: 0.02em;
    margin:auto;
  
    position: relative;
}
/* /////////////////////////////////////BOUTON//////////////////////////////////////////// */
#divIcon{
    display: flex;
    justify-content: space-around;
    margin: 5% 10%;
}

.bouton_interaction{
    display: inline-block;
    box-sizing: border-box;
    width: 40%;
    min-width: 140px;
    height: 3rem;
    border: solid 1.5px #424242;
    border-radius: 10px;
    font-size: 1.1em;
   text-align: center;
}

.bouton_d_ecoute{
    padding: 2px 3.7rem 2px 2px;
   background: no-repeat right 3rem url("../../../../../assets/icon/path/guide_audio.svg");
   background-position: 93%;
   margin-right: 2px;
  }

  .bouton_de_bibliotheque{
    padding: 2px 2px 2px 3.7rem;
   background: no-repeat right 3rem url("../../../../../assets/icon/path/lire_plus_tard2.svg");
   background-position: 7%;
   margin-left: 2px;
  }

  .stop_audio{
    text-align: center;
    padding: 0.5rem 0.5rem 0.5rem 0.5rem;
    background: no-repeat right 3rem url("../../../../../assets/icon/path/stop_audio.svg");
    background-position: 50%;
  }
/* ///////////////////////////////////TEXTE////////////////////////////////////////////// */
.text{
    margin-left:6%;
    margin-right: 6%;
    font-size: 18px;
}
.textTitre{
    color: #185A74;
    font-family:'Open Sans',-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;;
    font-style: normal;
    font-weight: bold;
    width: 100%;
    height: 100%;
    font-size: 20px;
    text-transform: uppercase;
}
.text1{
    display: flex;
    flex-direction: column;
    /* // flex-direction: row; */
    overflow: scroll;
    align-items: center;
    text-align: center;
    font-size: 20px;
}
.text1Titre{
    color: #185A74;
    font-family:'Open Sans',-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;;
    font-style: normal;
    font-weight: bold;
    width: 100%;
    height: 100%;
    font-size: 20px;
}
.textIntro{
    color: rgba(0, 0, 0, 1);
    font-family:'Open Sans',-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;;
    font-style: italic;
    font-weight: 600;
    width: 100%;
    height: 100%;
    font-size: 18px;
}


.suivant{
    width: 65%;
    margin-bottom: 20%; 
    margin-top:5%;
    background: center;
}
