
  <header>
    <label id="title">{{getName(poi)}}</label>
    <button (click)="close()" class="FermerLeDetail">
      <img src="../../../../../assets/icon/path/croix_bouton.svg">
    </button>
  </header>
  
    <ion-content id="content">
      <img class="PictureTerme" src={{poiService.urlImg}}{{poi?.ImageUrl}}>
    <div id="divIcon">
      <!-- <button class="bouton_interaction bouton_d_ecoute" (click)="readDescription(plant, codeLanguage)">{{ 'Details.Audio' | translate }}</button> -->
      <button class="bouton_d_ecoute bouton_interaction" (click)="readDescription(poi, getLanguages())" *ngIf="!vocalOn">{{ 'Details.Audio' | translate }}</button>
      
      <!-- ////BUTTON STOP/////: -->
      <button class="bouton_interaction stop_audio" (click)="stopVocal()" *ngIf="vocalOn"></button> 
      <!-- <button class="bouton_interaction bouton_de_bibliotheque" (click)="saveData(plant)" [disabled]="plant?.isSaved">{{ 'Details.ReadLater' | translate }}</button> -->
      <button class="bouton_interaction bouton_de_bibliotheque" (click)="saveData(poi)" [disabled]="poi?.isSaved">{{ 'Details.ReadLater' | translate }}</button>
    </div>
  
   <div class="text">
    <h1 class="textTitre">{{'Details.Desc' | translate}}</h1>
    <p [innerHTML]="getDescription(poi)"></p>
      <!-- <p class=textIntro>{{textIntro}}</p>
      <h1 class="textTitre">{{textTitre}}</h1>
      <p class="textExplication">{{textExplication}}</p> -->
    </div>
    <!-- <div class="text1">
      <img class="suivant" src="../../../../../assets/icon/path/suivant.svg">
    </div> -->
  
  </ion-content>
  
